<!--<app-loader></app-loader>-->
<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Dashboard</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active">Welcome to Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-12">
      <div class="card overflow-hidden">
        <!-- <div class="bg-primary bg-soft">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>IntroTouch Dashboard</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img
                src="assets/images/profile-img.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div> -->
        <div class="card-body pt-0">
          <div class="row">
            <!-- <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img
                  src="assets/images/users/avatar-1.jpg"
                  alt=""
                  class="img-thumbnail rounded-circle"
                />
              </div>
              <h5 class="font-size-15 text-truncate">Henry Price</h5>
              <p class="text-muted mb-0 text-truncate">UI/UX Designer</p>
            </div> -->

            <!-- <fusioncharts
              type="angulargauge"
              width="450"
              height="250"
              dataFormat="json"
              [dataSource]="dataSource"
            ></fusioncharts> -->

            <div class="col-sm-12">
              <div class="pt-4">
                <div class="row">
                  <div class="col-4" *ngFor="let sensorData of sensorDataArray">
                    <rg-gauge-chart
                      [canvasWidth]="canvasWidth"
                      [needleValue]="sensorData.adjustedValue"
                      [centralLabel]="centralLabel"
                      [options]="sensorData.options"
                      [name]="sensorData.key"
                      [bottomLabel]="sensorData.value"
                    ></rg-gauge-chart>
                  </div>
                </div>
                <!-- <div class="mt-4">
                  <a href="" class="btn btn-primary btn-sm"
                    >View Profile <i class="mdi mdi-arrow-right ms-1"></i
                  ></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- container-fluid -->
